{% extends "base_generic.html" %}
{% block content %}

<div class="container" style="margin-top: 10rem">
<div dir="rtl">
    <!-- bradcam_area  -->



<div class="bradcam_text " >
    <h3 >تفاصيل المقاله</h3>
</div>

  <!--/ bradcam_area  -->

   <!--================Blog Area =================-->
<section class="blog_area single-post-area section-padding">
<div class="container">
    <div class="row">
    <div class="col-lg-8 posts-list">
        <div class="single-post">
            <div class="feature-img">
                    
                <img class="img-fluid image-detail" src="{{post.image.url}}" alt="">
                <div class="jobs_right">
                    <div class="apply_now">
                    </div>
                </div>
            </div>
            <div class="blog_details">
                
                <h2>{{post.title}}</h2>
                <form action="{%url 'blog:like' post.title%}" method="post" class='like-form'>
                    {% csrf_token %}
                   <button type="submit" style="width: 150px;height: 50px;" id="like-btn{{post.id}}" class=" btn btn-primary btn-lg" >
                {% if request.user not in post.like.all %}
                    Like
                {% else %}
                    Unlike
                {% endif %}</button>
                <p class="like-count">&nbsp;&nbsp;{{post.like.count}}</p>
               </form>
                <p class="excert">{{post.content}}</p></p>
            </div>
        </div>

        <div class="blog-author">
            <div class="media align-items-center">
                <div class="rtl">
                <div class="media-body">
                <a href="#">
                    <h4>تم النشر بواسطه <span style="color: blue;">{{post.author}} </span> في تاريخ <span style="color: blue;">{{post.time |date:'d M o'}}</span></h4>
                </a>
            </div>
                </div>
            </div>
        </div>
        <div class="comments-area">
            <h4>Comments</h4>
            {% if comms %}
            
            {% for com in comms %}
                <!-- comment -->
                <div class="media">
                    <div class="media-body " >
    
                        <!-- comment -->
                        <div class="media">
                            <div class="media-left">
                                <img class="media-object" src="" alt="">
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    <h4>{{com.name}}</h4>
                                    
                                </div>
                                <p>{{com.comment}}</p>
                            </div>
                        </div>
                        <!-- /comment -->
                    </div>
                </div>
                <!-- /comment -->
        {% endfor %}
        {% else %}
                <div class="media-heading">
                    <h4>لا يوجد تعليقات حتى الأن ..</h4>
                </div>
        {% endif %}
    
        </div>

        <div class="comment-form">
            <h4>Leave a Reply</h4>
            <form method="POST" >
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="input_field">
                            {{form}}
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="submit_btn">
                            <button class="boxed-btn3 w-100" type="submit">تعليق</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>        </div>
    <div class="col-lg-4">
        <div class="blog_right_sidebar">

            <aside class="single_sidebar_widget popular_post_widget">
                <h3 class="widget_title">أقدم المقالات</h3>

                {% for ol in old %}
                    
            
                    <div class="media post_item">
                            <img src="{{ol.image.url}}" alt="" style="width: 30spx; height: 30px;">
                        <div class="media-body">
                            <a href="{%url 'blog:single' ol.title %}">
                                <h3>{{ol.title}}</h3>
                            </a>
                            <p>تم النتشر في : <span style="color: #00D363;">{{ol.time |date:'d M o'}}</p>
                        </div>
                    </div>
                    {% endfor %}

            </aside>

                </aside>
        </div>
    </div>
    </div>
</div>
</section>
</div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript"> 
    $('.like-form').submit(function(e){
    e.preventDefault()
    $.ajax( 
    { 
        type:"POST", 
        url: "{% url 'blog:like' post.title %}", 
        data:{ 
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
            "slug":"{{post.title}}",
        }, 
       success: function(response) {         
        console.log(1)
        
    },
    error: function(response) {
        console.log(2)
        const likeText = $("#like-btn{{post.id}}").text()
        const trim = $.trim(likeText)
        console.log(trim)
        const likes = $(`.like-count`).text()
        const trimCount = parseInt(likes)
        let res;
        if(trim === 'Unlike') {
            $("#like-btn{{post.id}}").text('Like')
            res = trimCount - 1
        } else {
            $("#like-btn{{post.id}}").text('Unlike')
            res = trimCount + 1
        }

        $(`.like-count`).text(res)
    },
    dataType: "json", 

    }
   ,)  
});
</script>
{% endblock %}